<h2 class="text-center text-uppercase">Bienvenido ADMINISTRADOR de CookiesNcream</h2>

<main class="container mt-5 border border-black rounded-3 my-5">
    <h2>Usuarios Registrados</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Imagen</th>
                <th scope="col">Precio</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody class="table-group-divider" id="miTabla">
          
            <tr>
                <td>Soy un título</td>
                <td class="imgAdmin"><img src="https://content-cocina.lecturas.com/medio/2018/07/19/galletas-rellenas-de-crema-de-mantequilla_8594d89d_800x800.jpg" alt=""></td>
                <td>$20000</td>
                <td class="acciones">
                    <button type="button" class="btn btn-info mx-3">
                        <i class="bi bi-pencil-square"></i>
                        Editar
                    </button>

                    <button type="button" class="btn btn-danger">
                        <i class="bi bi-trash"></i>
                        Eliminar
                    </button>
                </td>
            </tr>
        
        </tbody>
    </table>
</main>

<div class="container my-5">
    <button type="button" class="btn btn-info">
        <i class="bi bi-plus-square"></i>
        Agregar un nuevo producto
    </button>
</div>

