<div class="container">
  <h2 class="text-center text-uppercase">Bienvenido al Catalogo de CookiesNcream</h2>

  <!-- Productos -->
  <div class="container my-5">
    <div class="row row-gap-5" id="productsContainer">

      <div class="col  contenedorProducto">
        <div class="card miTarjeta border-black text-center" style="width: 18rem; height: 25rem;">
          <h5 class="card-title text-uppercase">SOY UN TÍTULO</h5>
          <img src="https://content-cocina.lecturas.com/medio/2018/07/19/galletas-rellenas-de-crema-de-mantequilla_8594d89d_800x800.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text fs-1">$ 20000</p>
            <a href="#" class="btn btn-dark">Añadir al carrito</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <!-- Fin productos -->

